body {
  font-family: Roboto, sans-serif;
}
/*лого шапка logo*/
.logo-start .logo {
  
  font-style: 400;
  font-weight: 700;
  font-size: 1.2;
  line-height: 31px;
}

.site-nav{display: flex;}

.tel { display: flex;margin-left: 298px;}

.text-logo{display: flex; }

.logo-start {

  color: #2196f3;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;}

.logo {
  margin-right: 93px;
  color: #212121;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;}

.logo-my {

  color: #ffffff;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;}

/*список навигации link*/

.site-nav {text-align: center;
  display: flex;}

hr{border: 1px solid #ECECEC;}

/*КОМАНДЫ*/

.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;}



.last-nav {
  display: flex;
}

.navi-bar {
  display: flex;
}
.navi:last-child {
  margin: 0px;
}


.items {
  padding-left: 50px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
 

  color: #757575;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link:last-child {
  margin-right: 0px;
}


.link {
  margin-right: 50px;
  display: flex;
  
  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;}

.link:hover {
  color: #2196f3;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

/* Эффективные решения для вашего бизнеса */

.main-hiro {
  text-align: center;
  vertical-align: middle;
}
.text {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
}

.hiro-title {
  margin-bottom: 200px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

/* Внимание к деталям,Пунктуальность,Планирование,Современные технологии*/
h2 {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.idea {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-paragraph {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.my-paragraph {
  padding-right: 30px;
}
.paragraph {
  color: #757575;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/* Чем мы занимаемся, Наша команда */

.lessons {
  text-align: center;
  font-weight: 376px;
  font-size: 42px;
}

.affair {
  display: flex;
  padding-left: 0px;
  padding-top: 50px;
  padding-bottom: 94px;
}

.comm {
  margin-left: auto;
  margin-right: auto;
}

/* Наша команда имена */
.rov{padding-bottom: 30px;}
.main-style {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.main-boxi{background: #F5F4FA;
height: 648px;}

.main-team {


  display: flex;
  padding-left: 0px;

  padding-bottom: 94px;
}

.boxi {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 264px;
  font-size: 42px;
  display: flex;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  justify-content: center;
}

h3 {
  color: #212121;

  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.team {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
}

/*мобильный,мыло*/
.main-nav {
  display: flex;
  text-align: center;
}

.items:hover {
  color: #2196f3;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;}


.my-text {
  
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.mobile,
.mail {
  padding-bottom: 9px;
 display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Все,Веб-сайты,Приложения,Дизайн,Маркетинг*/

/* заголовки проектов */

h3 {
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;}
 .mast-last{justify-content: center; padding-left: 0px;
   display: inline-flex;
  display: flex;
   
  flex-wrap: wrap;}
      
 .mast-team {
     display: inline-flex;
     justify-content: center;
     padding-left: 0px;
      display: flex;
      flex-wrap: wrap;
   }

      .last-page img {
     width: 100%;}
    .mi-project{text-align-last: left;
    padding-left: 24px;padding-bottom: 20px;}

.last-page{margin-right: 30px;margin-bottom: 30px;
  justify-content: center;
width: 370px; border: 1px solid #EEEEEE;

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}

.last-page:nth-child(3n + 3) {margin-right: 0px;}


.project {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;}






.background {
  background: #f5f4fa;}
ul {
  list-style: none;}
  div{list-style: none;}

  .street{ font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #ffffff;padding-top: 20px;
  padding-bottom: 9px;}


a {
  text-decoration: none;
}

.e-nav {
  margin-left: 93px;
}
.bar {
  margin-left: auto;
  margin-right: auto;
}
.header > .container {
  align-items: center;
}


.button-site:hover {
  background: #2196F3;
color: #FFFFFF;}

.my-site{margin-left: 240px;
margin-bottom:56px ;
margin-top: 100px;
}
.button-site {
  font-family: Roboto;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  min-width: 73px;
  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-left: 8px;}

.button-primery:hover {
  color: #212121;}

.button-primery {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;

  min-width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border: 1px solid transparent;
}

.ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.p {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.h1,
h2,
h3 {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}